div.is-centered, figure.is-centered{
  margin:0 auto;
}

p.is-centered, h1.is-centered, h2.is-centered, h3.is-centered{
  text-align: center;
}

#top-banner{
  background-image: url(/images/background_backup.png);
  background-size: cover;
  background-position: center;
}
