<footer class="footer has-background-dark has-text-light">
  <div class="container">
    <div class="columns">
      <div class="column">
        <p class="subtitle is-centered has-text-light">Contact</p>
        <p>
        <ul class="has-text-centered">
          <li>
            <a href="mailto:info@massmesh.org">info@massmesh.org</a>
          </li>
          <li>
            <a href="https://riot.im/app/#/group/+massmesh:matrix.org">Matrix.org Chatroom</a>
          </li>
          <li>
            <a href="https://lists.riseup.net/www/info/massmeshnet">Mailing List</a>
          </li>
        </ul>
        </p>
      </div>
      <div class="column">
        <p class="subtitle is-centered has-text-light">About</p>
        <p>
        <ul class="has-text-centered">
          <li>
            <a href="https://massmesh.org/wiki/">Documentation</a>
          </li>
          <li>
            <a href="https://massmesh.github.io/blog/">Blog</a>
          </li>
          <li>
            <a href="https://github.com/MassMesh/governance/blob/main/ncl.md">Network Commons License</a>
          </li>
        </ul>
        </p>
      </div>
    </div>
  </div>
</footer>
