<footer class="footer has-background-dark has-text-light">
    <div class="container">
      <div class="columns">
        <div class="column">
          <p class="subtitle is-centered has-text-light">Contact</p>
          <p>
            <ul class="has-text-centered">
              <li>
                <a href="mailto:info@massmesh.org">info@massmesh.org</a>
              </li>
              <li>
                <a href="https://riot.im/app/#/group/+massmesh:matrix.org">Matrix.org Chatroom</a>
              </li>
              <li>
                <a href="https://lists.riseup.net/www/info/massmeshnet">Low Volume Mailing List</a>
              </li>
            </ul>
          </p>
        </div>
        <div class="column">
          <p class="subtitle is-centered has-text-light">About</p>
          <p>
            <ul class="has-text-centered">
              <li>
                <a href="https://massmesh.org/wiki/">Documentation</a>
              </li>
              <li>
                <a href="https://massmesh.github.io/blog/">Blog</a>
              </li>
	      <li>
		<a href="https://github.com/MassMesh/governance/blob/main/ncl.md">Network Commons License</a>
	      </li>
            </ul>
          </p>
        </div>
        <div class="column">
          <p class="subtitle is-centered has-text-light">How To Help</p>
          <p>
            <ul class="has-text-centered">
              <li>
                <a href="mailto:volunteer@massmesh.org">volunteer@massmesh.org</a>
              </li>
	      <li>
		<a href="https://opencollective.com/mass-mesh/donate">Become a Financial Backer</a>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="content has-text-centered">
      <div class="columns">
        <div class="column">
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/">
            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/2.0/88x31.png" />
          </a>
          <br>
          This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/">Creative Commons Attribution-ShareAlike 2.0 Generic License</a>.
          <br>
          <br>
          <a href="https://mayfirst.coop/en/">
            <img href="https://mayfirst.coop/en/" src="/images/May_First_People_Link_logo.png" alt="MF/PL" style="width: 200px;">
            <br>
            Hosted by May First/People Link</a>
        </div>
        <!-- <div class="column">
          
        </div> -->
      </div>
    </div>
</footer>
