<nav class="navbar is-dark {{ include.navbarClass }}">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/index.html"><img src="./images/radio_tower_logo.png" alt="Mass Mesh"></a>
      <a role="button" class="navbar-burger" data-target="navbarNav" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navbarNav">
      <div class="navbar-end">
        <a class="navbar-item" href="https://massmesh.org/wiki/">Documentation</a>
        <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="https://massmesh.github.io/blog/">Blog</a>
          <a class="navbar-item" href="https://riot.im/app/#/group/+massmesh:matrix.org">Chat with Us</a>
          <a class="navbar-item" href="https://lists.riseup.net/www/info/massmeshnet">Join the Mailing List</a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="https://github.com/MassMesh/massmesh.github.io/issues">Website Issues?</a>
        </div>
      </div>
      </div>
    </div>
  </div>
</nav>
<script type="text/javascript">
  (function() {
    var burger = document.querySelector('.navbar-burger');
    var nav = document.querySelector('#'+burger.dataset.target);
    burger.addEventListener('click', function(){
      burger.classList.toggle('is-active');
      nav.classList.toggle('is-active');
    });
  })();
</script>
