<nav class="navbar is-dark">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">Mass Mesh</a>
    </div>
    <div class="navbar-menu" id="navbarNav">
      <div class="navbar-end">
        <a class="navbar-item" href="https://massmesh.org/wiki/">Learn More</span></a>
	<!--<a class="navbar-item" href="https://massmesh.github.io/blog/">Blog</a>-->
	<!--<a class="navbar-item" href="https://riot.im/app/#/group/+massmesh:matrix.org">Chat with Us</a>-->
	<!--<a class="navbar-item" href="https://lists.riseup.net/www/info/massmeshnet">Join the Mailing List</a>-->
        <a class="navbar-item" href="https://massmesh.org/wiki/index.php?title=Meetings">Join a Meeting</a>
      </div>
    </div>
  </div>
</nav>
